* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vbox, .hbox {
    margin-bottom: 1rem;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.hbox {
    display: flex;
    align-items: center;
    justify-content: center;
}